{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bootstrap demo</title>
    <link rel="stylesheet" type="text/css" href="{% static 'login.css' %}" />
  </head>
  <body>
    <div class="container">
      <div>
        <div class="login_card">
          <form method="POST">
            {% csrf_token %}
            <div class="log-content">
              <div class="form-field">
                <label class="'form-label" for="username">Username</label>
                <input
                  class="form-control"
                  type="text"
                  name="username"
                  id="username"
                />
              </div>
              <br />
              <div class="form-field">
                <label class="'form-label" for="password">Password</label>
                <input
                  class="form-control"
                  type="password"
                  name="password"
                  id="password"
                />
              </div>
              <br />
              <div class="form-field">
                <button class="btn btn-primary" type="submit"></button>
              </div>
              <br />
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
